    <ul class="no-bullet" style="margin-bottom: 0">
        <li style="margin-bottom: 1rem;">
            <a href="javascript:void(0)" data-open="helpDialog">Help</a>
        </li>
        <li class="copyright">
            © 2019
            <a href="http://verity.org" target="_blank">Verity Health</a>
        </li>
    </ul>
    <p>&nbsp;</p>
    <div class="reveal fancy" id="helpDialog" data-reveal>
	<div class="header">
     <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
	<h1>Help</h1>
	</div>
	  <div class="main">
		  <p>We are here to help you troubleshoot any technical issues and answer any questions you may have.</p>
		  <br>
		  <h3>Contact Help Desk</h3>
			<br>
		  <div class="grid-x grid-padding-x">
			<div class="small-2 medium-2 cell">
				<i class="fal fa-phone fa-2x"></i>
			</div>
			<div class="small-10 medium-10 cell">
				<div class="grid-x grid-padding-x">
					<div class="small-8 cell">
						<p class="lead">(310) 954-2188<br><small>Mon-Fri 8AM - 5PM PST</small></p>
					</div>
					<div class="small-4 cell">
					<a href="tel:3109542188" class="button expanded">Call</a>
					</div>
				</div>


			  </div>
		  </div>
		  <hr style="border-bottom-color: #ddd;" />
		  <div class="grid-x grid-padding-x">
			<div class="small-2 medium-2 cell">
				<i class="fal fa-envelope fa-2x"></i>
			</div>
			<div class="small-10 medium-10 cell">
			<div class="grid-x grid-padding-x">
					<div class="small-8 cell">
						<p><small>verityhelpdesk@verity.org</small><br><small>Send us a message</small> </p>
					</div>
					<div class="small-4 cell">
					<a href="mailto:verityhelpdesk@verity.org" class="button expanded">Email</a>
					</div>
				</div>



			  </div>

		  </div>
			</div>
			<div class="footer">

				<button class="primary button" data-close>Close</button>
			</div>
		 </div>
<script src="/assets/js/jquery.js"></script> 
<script src="/assets/js/what-input.js"></script>
<script src="/assets/js/foundation.js"></script> 
<script src="/assets/js/app.js"></script> 
<script src="/assets/js/script.js"></script> 
<script src="/assets/js/datatables.js"></script>
<script>
			var usersTable = $('#usersTable').DataTable({
				  paging: true,
				  lengthMenu: false,
				  info: true,
				  searching: true,
				  responsive: true,
				  "order": [[ 1, 'asc' ]],
				  columnDefs: [
						{ responsivePriority: 1, targets: 0 },
						{ "orderable": false, "targets": -1 },
						{ "orderable": false, "targets": -2 }
					 ]        
			});
	
			usersTable.on( 'responsive-display', function ( e, datatable, row, showHide, update ) { //Triggers when a details row is expanded
				if (showHide == true) {
					var rowID = $(row.node()).attr("data-row-id");
					$($(".rolesForUser" + rowID)[1]).attr("src", $(row.node()).attr("data-roles-url"));
					$($(".facilitiesForUser" + rowID)[1]).attr("src", $(row.node()).attr("data-facilities-url"));
					$(".rolesForUser" + rowID).on("load", function () { //Load iframe content for roles and facilities
						$(".rolesForUser" + rowID).show();
						$(".rolesForUser" + rowID).parent().find("i").hide();
					});
					$(".facilitiesForUser" + rowID).on("load", function() {
						$(".facilitiesForUser" + rowID).show();
						$(".facilitiesForUser" + rowID).parent().find("i").hide();
					});
				}
			});
	
			usersTable.on( 'draw.dt', function () { //Triggers on redraw/search/navigation/filter
				usersTable.rows().eq(0).each( function ( i, e ) {
						  var row = usersTable.row(i);
						  var tr = row.node();

						  if (row.child.isShown() ) { //Hide child rows when navigating
							  $(tr).removeClass('parent');
							  row.child.hide();
						  }
					});
			} );
			/*var adgroupsTable = $('#adGroupsTable').DataTable({
				  paging: true,
				  lengthMenu: false,
				  info: true,
				  searching: true,
				  responsive: true,
				  "order": [[ 0, 'asc' ]],
				  columnDefs: [
						{ responsivePriority: 1, targets: 0 },
					   //{ responsivePriority: 2, targets: -1 },
						{ "orderable": false, "targets": -1 }
					 ],
				drawCallback: function () {	
				  }
			});*/
			var membersOfGroupTable = $('#membersOfGroupTable').DataTable({
				  paging: true,
				  lengthMenu: false,
				  info: true,
				  searching: true,
				  responsive: true,
				  "order": [[ 0, 'asc' ]],
				  columnDefs: [
						{ responsivePriority: 1, targets: 0 },
					   //{ responsivePriority: 2, targets: -1 },
						{ "orderable": false, "targets": -1 }
					 ],
			});
			var adGroupMembershipTable = $('#adGroupMembershipTable').DataTable({
				  paging: true,
				  lengthMenu: false,
				  info: true,
				  searching: true,
				  responsive: true,
				  "order": [[ 0, 'asc' ]],
				  columnDefs: [
						{ responsivePriority: 1, targets: 0 },
					   //{ responsivePriority: 2, targets: -1 },
						{ "orderable": false, "targets": -1 }
					 ],
			});
			var rolesTable = $('#rolesTable').DataTable({
				  paging: true,
				  lengthMenu: false,
				  info: true,
				  searching: true,
				  responsive: true,
				  "order": [[ 0, 'asc' ]]                               
			});
			var facilitiesTable = $('#facilitiesTable').DataTable( {
				  paging: true,
				  lengthMenu: false,
				  info: true,
				  searching: true,
				  responsive: true,
				  "order": [[ 0, 'asc' ]]                                   
			} );
			$('#sectionsTable').DataTable( {
				  paging: true,
				  lengthMenu: false,
				  info: true,
				  searching: true,
				  responsive: true,
				  "order": [[ 0, 'asc' ]]                                   
			} );
			$('#tokensTable').DataTable( {
				  paging: true,
				  lengthMenu: false,
				  info: true,
				  searching: true,
				  responsive: true,
				  "order": [[ 1, 'asc' ]]                                   
			} );

			$('#notificationTypesTable').DataTable( {
				  paging: true,
				  lengthMenu: false,
				  info: true,
				  searching: true,
				  responsive: true,
				  "order": [[ 0, 'asc' ]]                                  
			} );
			$('#releasesTable').DataTable( {
				  paging: true,
				  lengthMenu: false,
				  info: true,
				  searching: true,
				  responsive: true,
				  "order": [[ 0, 'asc' ]],
				  drawCallback: function () {
					  $("#releasesTable_wrapper").prepend($("#newReleaseButton"));
					  $("#releasesTable_filter").css({float: "right"});
				  },
				  columnDefs: [
						{ responsivePriority: 1, targets: 0 },
					   //{ responsivePriority: 2, targets: -1 },
						{ "orderable": false, "targets": -1 }
					 ]                                    
			} );
			$('#eventsTable').DataTable( {
				  paging: true,
				  lengthMenu: false,
				  info: true,
				  searching: true,
				  responsive: true,
				  "order": [[ 0, 'asc' ]]                                  
			} );
			$('#notificationsListTable').DataTable( {
				  paging: true,
				  lengthMenu: false,
				  info: true,
				  searching: true,
				  responsive: false,
				  "order": [[ 1, 'desc' ]],
				  drawCallback: function () {
					  $("#notificationsListTable_wrapper").prepend($("#newNotificationButton"));
					  $("#notificationsListTable_filter").css({float: "right"});
				  }
			} );
		  $('#subscriptionsTable').DataTable( {
				  paging: true,
				  lengthMenu: false,
				  info: true,
				  searching: true,
				  responsive: true,
				  "order": [[ 0, 'asc' ]]                                  
			} );
	
			function onClick1 (ctx) {
				$(ctx).parents('tr').find('.dConfirm').removeClass('hide'); $(ctx).addClass('hide');
			}
								
			function onClick2 (ctx) { //remove user
				var activeDirectoryGroupMembersDialogOpen = $("#activeDirectoryGroupMembersDialog", window.parent.document).is(":visible");
				var email = "";
				var groupName = "";
				if (activeDirectoryGroupMembersDialogOpen) {
					email = $(ctx).parents('tr').find('td')[0].innerHTML;
					groupName = $(ctx).parents("body").find(".group_name_span")[0].innerHTML;
					console.log("email is " + email + " groupname  is:" + groupName);
				} else { //listMemberOfGroupsDialog is open/visible
					email =  $(ctx).parents("body").find(".member_email_span")[0].innerHTML;//
					groupName = $(ctx).parents('tr').find('td')[0].innerHTML;
					console.log("email is " + email + " groupname  is:" + groupName);
				}
				
				$.post( "/adgroups/deleteMembersFromGroups", { "adgroup_name": groupName, "member_email": email }, "html")
					  .done(function( data ) {
						//console.log( "response: " + data );
						$(ctx).parents('tr').addClass('hide'); 
						$(ctx).parents("body").find(".deleteMemberConfirmation").removeClass("hide");
						$(ctx).parents("body").find(".deleteMemberConfirmation").html(data);
					  });
			}

			function onClick3 (ctx) {
				$(ctx).parents('tr').find('.trash').removeClass('hide'); $(ctx).parent('.dConfirm').addClass('hide'); $(ctx).addClass('hide');
			}
	
			
		</script>
</div>
