<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Verity Mobile Notifications Admin | Verity Health</title>
<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
<!--link rel="stylesheet" href="/assets/css/font-awesome.min.css"-->
<link rel="stylesheet" href="/assets/news-8daa07452113f31c0674350b538be891822d9ccd9eed5ab1b10d12eaca9a3210.css">
<style>
    .top-bar.mainBanner .top-bar-right .menu li:not(.is-submenu-item) { margin-left: 1rem; }
    .top-bar.mainBanner .top-bar-right .menu .active a { color: white; border-radius: 3px; }
    .top-bar.mainBanner .top-bar-right .menu .active a:hover { background-color: #22397F; color: white; border-radius: 3px; }
    .truncatedText { height: 4rem; text-overflow: ellipsis; overflow: hidden; white-space: normal; }
    .dataTables_length { display: none; }
    ..dataTables_wrapper .dataTables_filter { float: none; }
    .tokenText { word-wrap: break-word; word-break: break-all;  white-space: normal; }
</style>

 