<div data-sticky-container="data-sticky-container">
    <div class="sticky" data-sticky="data-sticky" data-margin-top="0">
        <div class="top-bar mainBanner">
            <div class="top-bar-left">
                <span class="title-bar-title">
                <a href="http://verity.org">
                    <img style="height: 40px;" src="/assets/logoVerity-1cdcf247aa47b22b0976e494154a24cd574a047fd43f815775702e259b31cdbf.png" /></a>
                <span style="font-size: 2rem; margin-left: 1rem; line-height: 32px; vertical-align: bottom;">VHM Notification Error for <%= process.env.NODE_ENV %> Environment</span></span>
            </div>
            <a class="secondary button" href="/">Notifications Login</a>
        </div>
    </div>
</div>
