<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <% include ../../partials/news_head.ejs %>
    </head>
    <body class="thi-mobile">
        <header>
            <% include ../../partials/news_error_header.ejs %>
        </header>
        <div style="max-width: 1400px; margin: 0 auto;">
            <div class="grid-x grid-padding-x">
                <div class="medium-12 cell" style="padding: 1.5rem;">
                    <h2>403 Notification Access Denied</h2>
                </div>
            </div>
        </div>
        <footer class="text-center VHMfooter">
            <% include ../../partials/footer.ejs %>
        </footer>
    </body>
</html>
