<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../../partials/news_head.ejs %>
    </head>
    <body class="thi-mobile">

    <header>
        <% include ../../partials/news_header.ejs %>
    </header>

        <div style="max-width: 1400px; margin: 0 auto;">
            <div class="grid-x grid-padding-x">
                <div class="medium-12 cell" style="padding: 1.5rem;">
                    <h2>New Video Notification</h2>
                    <form enctype="multipart/form-data" action="/news/videoEvents" accept-charset="UTF-8" method="post">

                        <input type="hidden" name="event_update" value="0" />

                        <div class="field">
                            <label for="event_subscription_id">Source/subscription</label>
                            <select name="event_subscription_id" id="event_subscription_id">
                                <% sub_labels.forEach(function(sl) { %>
                                    <option value="<%= sl.subscriptions_id %>">
                                        <%= sl.name %>
                                    </option>
                                <% }); %>
                            </select>
                        </div>

                        <div class="field">
                            <label for="event_title">Title</label>
                            <input id="event_title" type="text" name="event_title" />
                        </div>


                        <div class="field">
                            <label class="text required" for="event_video">Video</label>
                            <input id="event_video" accept="video/quicktime,video/mp4"  type="file" name="event_video" required/>
                            <p class="help-text">Limit to the following file formats: mov, mp4</p>
                        </div>


                        <div class="field">
                            <label id="text-label" class="text required" for="event_text">Video transcript (for accessibility)</label>
                            <textarea id="event_text" rows="5" name="event_text" required></textarea>
                        </div>

                        <br>
                        <div class="actions">
                            <input type="submit" value="Save & Send Now" class="button primary" formaction="/news/videoEventsSaveSend"/>
                            <input type="submit" value="Save for Later" class="button" formaction="/news/videoEventsSave"/>
                            <a class="button" href="/news">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    <footer class="text-center VHMfooter">
        <% include ../../partials/footer.ejs %>
    </footer>
    </body>
</html>
