<!doctype html>
<html class="no-js" lang="en"><head><meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help | Verity Health Mobile</title><link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="/assets/stylesheets/fontawesome-all.min.css"></head><body>
        <div data-sticky-container class="hide-for-small-only"><div class="sticky" data-sticky  data-margin-top="0">
        <div class="top-bar mainBanner"><div class="top-bar-left"><span class="title-bar-title">
                <a href="http://vnet.verity.org"><img src="/assets/images/logoVerity.png" style="height: 50px;" /></a></span>
        </div>

    </div>
<!-- End Top Bar -->
  
</div>
</div>
<!-- banner menu dropdowns -->
<div class="dropdown-pane dropdownMenu bannerMenu" id="locationDropdown" data-dropdown data-hover="true" data-hover-pane="true">
    <ul class="vertical menu">
        <li>
            <label>Northern California</label>
        </li>
        <li>
            <a href="https://smc.verity.org/">Seton Medical Center &amp; Coastside</a>
        </li>
        <!--<li><a href="https://smc.verity.org/">Seton Coastside</a></li>-->
        <li>
            <label>Southern California</label>
        </li>
        <li>
            <a href="https://sfmc.verity.org/">St. Francis Medical Center</a>
        </li>
        <li>
            <a href="https://svmc.verity.org/">St. Vincent Medical Center</a>
        </li>
        <li>
            <label>Administrative &amp; Other</label>
        </li>
        <li>
            <a href="https://system.verity.org/">Verity System Office (VHS)</a>
        </li>
        <li>
            <a href="http://veritynet:81/cbs/intranet/default.aspx">Verity Business Services (VBS)</a>
        </li>
        <li>
            <a href="#">Verity Medical Foundation (VMF) </a>
        </li>
    </ul>
</div>
<div class="dropdown-pane dropdownMenu bannerMenu" id="servicesDropdown" data-dropdown data-hover="true" data-hover-pane="true">
    <ul class="vertical menu">
        <li>
            <label>IT Support</label>
        </li>
        <li>
            <a href="#">Order PC/Software</a>
        </li>
        <li>
            <a href="#">IT/Telecom Service Request</a>
        </li>
        <li>
            <a href="#">Encryption - Removable Storage Media</a>
        </li>
        <li>
            <a href="#">Imprivata SSO Self Service Portal</a>
        </li>
        <li>
            <label>Travel &amp; Expenses</label>
        </li>
        <li>
            <a href="#">Concur: Book Travel</a>
        </li>
        <li>
            <a href="#">Concur: Expense Report</a>
        </li>
        <li>
            <label>Time Reporting</label>
        </li>
        <li>
            <a href="#">Kronos</a>
        </li>
        <li>
            <a href="#">Trac/OnTrac</a>
        </li>
    </ul>
</div>
<div class="dropdown-pane dropdownMenu bannerMenu" id="aboutDropdown" data-dropdown data-hover="true" data-hover-pane="true">
    <ul class="vertical menu">
        <!--<li><label>Northern California</label></li>-->
        <li>
            <a href="history.php">Our History and Values</a>
        </li>
        <li>
            <a href="leadership.php">Leadership</a>
        </li>
        <li>
            <a href="facts.php">Facts &amp; Figures</a>
        </li>
        <!--<li><a href="#">Diversity &amp; Inclusion</a></li>-->
        <li>
            <a href="https://verity.org/careers/">Careers</a>
        </li>
        <!--<li><a href="#">Locations</a></li>-->
  
    </ul>
</div>
<div class="dropdown-pane dropdownMenu bannerMenu" id="deptsDropdown" data-dropdown data-hover="true" data-hover-pane="true">
    <ul class="vertical menu">
        <!--<li><a href="#">Accounting</a></li>-->
        <li>
            <a href="https://system.verity.org/BIDevelopment/default.aspx">Development</a>
        </li>
        <li>
            <a href="#">Human Resources (HR)</a>
        </li>
        <li>
            <a href="https://it.verity.org/">Information Technology (IT)</a>
        </li>
        <li>
            <a href="https://system.verity.org/legal/default.aspx">Legal</a>
        </li>
        <li>
            <a href="https://system.verity.org/MarketingPR/default.aspx">Marketing / Public Relations</a>
        </li>
        <li>
            <a href="https://system.verity.org/tcom/default.aspx">Telecommunications</a>
        </li>
    </ul>
</div>
<div class="dropdown-pane dropdownMenu bannerMenu" id="newsDropdown" data-dropdown data-hover="true" data-hover-pane="true">
    <ul class="vertical menu">
        <li>
            <a href="#">All News</a>
        </li>
        <li>
            <a href="#">Verity System Office (VHS)</a>
        </li>
        <li>
            <a href="#">St. Francis Medical Center</a>
        </li>
        <li>
            <a href="#">St. Vincent Medical Center</a>
        </li>
        <li>
            <a href="#">Seton Medical Center &amp; Coastside</a>
        </li>
        <li>
            <a href="#">Verity Medical Foundation (VMF) </a>
        </li>
    </ul>
</div>
<div class="grid-x grid-padding-x" style="margin-top: 1rem;">
    <div class="medium-6 cell medium-offset-3">
        <h1 class="text-center">
            <img src="../assets/images/VerityHealthMobile.png" style="height: 50px;" alt="Verity Health Mobile">
        </h1>
        <p>Welcome to Verity Health Mobile (VHM) app. VHM app connects all members of Verity Health. It allows members</p>
        <div class="grid-x grid-padding-x">
            <div class="small-3 cell text-center">
                <i class="fal fa-line-chart fa-3x"></i>
            </div>
            <div class="small-9 cell">
                <p>To keep track of the wellbeing of the organization via analysis of performance metrics at various hospital locations.</p>
            </div>
            <div class="small-3 cell text-center">
                <i class="fal fa-flag fa-3x"></i>
            </div>
            <div class="small-9 cell">
                <p>To stay in touch with the latest notifications and alerts at Verity Health.</p>
            </div>
        </div>
        <p>&nbsp;</p>
        <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">
            <li class="accordion-item" data-accordion-item>
                <!-- Accordion tab title -->
                <a href="#" class="accordion-title">Dashboard</a>
                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                <div class="accordion-content" data-tab-content>
                    <h2>Dashboard</h2>
                    <div class="grid-x grid-padding-x">
                        <div class="small-5 cell text-center"></div>
                        <div class="small-7 cell"></div>
                    </div>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="images/dashboard.jpg" alt="dashboard for all locations" class="thumbnail" style="height: 300px;">
                        <figcaption>Dashboard All Locations</figcaption>
                    </figure>
                    <!--<figure class="text-center"><img src="images/dashboardSingle.jpg" alt="dashboard for single location" class="thumbnail" style="height: 300px;"><figcaption>Dashboard for a Single Location</figcaption></figure>-->
                    <p>By default, the latest available date with data is displayed for all hospital locations. The following metrics for the selected date are displayed: </p>
                    <ul>
                        <li>Total Average Daily Census 
                            <small>(with data for each inpatient type)</small>
                        </li>
                        <li>Newborn Average Daily Census </li>
                        <li>Observation Cases</li>
                        <li>Total Discharges</li>
                        <li>ER Visits &amp; Admits 
                            <small>(with various ER related data)</small>
                        </li>
                        <li>Total Patient Days</li>
                        <li>Total Revenue 
                            <small>(with Inpatient and Outpatient data)</small>
                        </li>
                        <li>Total Main OR Surgeries 
                            <small>(with Inpatient and Outpatient data)</small>
                        </li>
                        <li>Total GI Procedures 
                            <small>(with Inpatient and Outpatient data)</small>
                        </li>
                        <li>Total Other 
                            <em>[Special]</em> Procedures
                            <small>(with Inpatient and Outpatient data)</small>
                        </li>
                    </ul>
                    <p>You can tap on each graph on the dashboard to open the detail view for day, week, month, year data and, when available, any associated graphs and data. </p>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="../assets/images/graphDetail.png" class="thumbnail" alt="dashboard to detail view">
                        <figcaption>Dashboard Graph to Detail View</figcaption>
                    </figure>
                    <p>Within the detail view, associated graphs, if present,  are presented within a carousel which can be swiped through or by tapping on the desired view from the view button strip below the graph. The view buttons may require scrolling if there are more than 3 options present. </p>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="../assets/images/carousel.png" class="thumbnail" alt="graph carousel">
                        <figcaption>Graph Carousel and Scrollable Buttonset</figcaption>
                    </figure>
                    <p>In addition, each bar on the graph can be tapped to display its value.</p>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="../assets/images/barInfo.png" class="thumbnail" alt="bar info on tap" style="width: 300px;">
                        <figcaption>Value of bar displayed on tap</figcaption>
                    </figure>
                    <h3>Changing to a Single Location View</h3>
                    <p>To view data from a specific hospital location only, tap on All Locations to pick a desired location from the list and save the changes. If the location is changed from dashboard, the location selection is saved for future sessions. </p>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <div class="thumbnail">
                            <img src="../assets/images/locationOptions.jpg" alt="location dropdown options" style="height: 350px;">
                        </div>
                        <figcaption>Location Selection</figcaption>
                    </figure>
                    <h3>1 Day View</h3>
                    <p>If All Locations is selected, totals for each location are listed below the graph. Tap on a location's value to see comparison data such as MTD and % Variance. </p>
                    <p>To view data from older dates, tap on the previous arrow 
                        <i class="fa fa-chevron-left"></i>.
                    </p>
                    <p>
                        <strong>NOTE:</strong> Only data for days within the current fiscal year are available.
                    </p>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="../assets/images/dayView.png" class="thumbnail" alt="1 day view for all locations" style="height: 300px;">
                        <figcaption>1 Day View for All Locations</figcaption>
                    </figure>
                    <p>The selected day's comparison data can be swiped through for each available location.</p>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="../assets/images/newbornDetail.jpeg" class="thumbnail" alt="Selected day's details" style="height: 300px;">
                        <figcaption>Selected Day's Comparison Data</figcaption>
                    </figure>
                    <p>If a single location is selected, instead of graph and a list, detailed comparison data for the selected date are displayed. </p>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="../assets/images/1daySingle.jpg" class="thumbnail" alt="1 day view for single location" style="height: 300px;">
                        <figcaption>1 Day View for a Single Location</figcaption>
                    </figure>
                    <h3>1 Week and 1 Month Views</h3>
                    <p>If All Locations is selected, totals for each location for the week or month are listed below the graph. There are no comparison data available. </p>
                    <p>To view data from older weeks or months, tap on the previous arrow 
                        <i class="fa fa-chevron-left"></i>.
                    </p>
                    <p>
                        <strong>NOTE:</strong> Only data for weeks or months within the current fiscal year are available.
                    </p>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="images/1weekAL.jpg" class="thumbnail" alt="1 week view for all locations" style="height: 300px;">
                        <figcaption>1 Week View for All Locations</figcaption>
                    </figure>
                    <p>If a single location is selected, values for each day of the week or month are displayed. In year view, values for each month are displayed for the fiscal year. </p>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="images/1weekSingle.jpg" class="thumbnail" alt="1 week view for single location" style="height: 300px;">
                        <figcaption>1 Week View for a Single Location</figcaption>
                    </figure>
                    <!--<figure class="text-center" style="margin: 1rem 0;"><img src="images/vhm19.jpg" class="thumbnail" alt="1 month view for all locations" style="height: 300px;"><figcaption>1 Month View for All Locations</figcaption></figure>-->
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="images/1monthSingle.jpg" class="thumbnail" alt="1 month view for single location" style="height: 300px;">
                        <figcaption>1 Month View for a Single Location</figcaption>
                    </figure>
                    <h3>1 Year View</h3>
                    <p>If All Locations is selected, totals for each location for the FISCAL year (From July to June) are listed below the graph. There are no comparison data available. </p>
                    <p>
                        <strong>NOTE:</strong> Only data from current fiscal year is available.
                    </p>
                    <!--<figure class="text-center" style="margin: 1rem 0;"><img src="images/vhm19.jpg" class="thumbnail" alt="1 year view for all locations" style="height: 300px;"><figcaption>1 Year View for All Locations</figcaption></figure>-->
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="images/1yearSingle.jpg" class="thumbnail" alt="1 year view for single location" style="height: 300px;">
                        <figcaption>1 Year View for a Single Location</figcaption>
                    </figure>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <!-- Accordion tab title -->
                <a href="#" class="accordion-title">Notifications</a>
                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                <div class="accordion-content" data-tab-content>
                    <h2>Notifications</h2>
                    <p>Verity Health's notifications and alerts are listed from newest to oldest under categories of This Week, Last Week, and Older. Tap on each notification to view the content. </p>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="images/news.jpg" class="thumbnail" alt="notifications" style="height: 300px;">
                        <figcaption>Notifications</figcaption>
                    </figure>
                    <p>Unread notifications have bolded titles and  NEW tags. Unread notification count is displayed on the notification tab as well as on the app icon. </p>
                    <p>Notification sources can be changed in Notifications Preference. Tap on the Settings (Gear 
                        <i class="fa fa-gear"></i>) icon on the right of title bar to open Notifications Preference. By default all notifications sources are checked. Uncheck any undesired notifications source (location).
                    </p>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="images/newsPref1.jpg" class="thumbnail" alt="notifications preference" style="height: 300px;">
                        <figcaption>Notifications Preferences</figcaption>
                    </figure>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <!-- Accordion tab title -->
                <a href="#" class="accordion-title">Profile</a>
                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                <div class="accordion-content" data-tab-content>
                    <h2>Profile</h2>
                    <p>Limited user profile displays your user name, associated location, and title.</p>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="images/profile.jpg" class="thumbnail" alt="user profile" style="height: 300px;">
                        <figcaption>User Profile</figcaption>
                    </figure>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <!-- Accordion tab title -->
                <a href="#" class="accordion-title">More</a>
                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                <div class="accordion-content" data-tab-content>
                    <h2>More</h2>
                    <p>From the More menu, you can change Notifications Preference, view Help information, and sign out of the VHM app. </p>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="images/more.jpg" class="thumbnail" alt="more menu" style="height: 300px;">
                        <figcaption>More Menu</figcaption>
                    </figure>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <!-- Accordion tab title -->
                <a href="#" class="accordion-title">Mobile Notification Settings</a>
                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                <div class="accordion-content" data-tab-content>
                    <h2>Mobile Notification Settings</h2>
                    <p>To change mobile notification settings for the app, from Home menu, go to 
                        <strong>Settings &rang; Notifications &rang; VHM</strong>.
                    </p>
                    <figure class="text-center" style="margin: 1rem 0;">
                        <img src="images/settings.jpg" class="thumbnail" alt="notifications menu" style="height: 460px;">
                        <figcaption>Mobile Notification Settings</figcaption>
                    </figure>
                </div>
            </li>
            <li class="accordion-item" data-accordion-item>
                <!-- Accordion tab title -->
                <a href="#" class="accordion-title">Frequently Asked Questions</a>
                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                <div class="accordion-content" data-tab-content>
                    <h2>Frequently Asked Questions</h2>
                    <h3>Updates</h3>
                    <p>
                        <em>Question:</em> How often does data get updated?
                    </p>
                    <p>
                        <em>Answer:</em> Data is updated daily. Latest notifications are pushed to your mobile if you have given permission to the app to allow mobile notification (see notification settings information above).
                    </p>
                    <br>
                    <h3>Account Settings &amp; Security</h3>
                    <p>
                        <em>Question:</em> How do I stay up to date on latest app improvements?
                    </p>
                    <p>
                        <em>Answer:</em> Whenever a new update for the app is available, you will be notified of the update via an internal message. Follow instructions to update.
                    </p>
                    <br>
                    <p>
                        <em>Question:</em> How do i reset or change my account password?
                    </p>
                    <p>
                        <em>Answer:</em> Verity Mobile App synchronizes with your Verity account info and as such you can reset or change your account password through your Verity account only.
                    </p>
                </div>
            </li>
            <!-- ... -->
        </ul>
        <!--<h2>Overview</h2><p>The dashboard is where you'll be able to view and analyze performance metrics for the latest date the data is available. </p><p>In the News tab, you'll be able to view all news and notifications from latest to oldest. </p><p>In the Profile tab, you'll be able to view your user profile info. </p><p>In the More tab, you'll be able to change news preference and access helpful information. </p>-->


	

  
    </div>
</div>
<footer class="text-center VHMfooter">
    <ul class="no-bullet" style="margin-bottom: 0">
        <!--<li style="margin-bottom: 1rem;"><a href="javascript:void(0)" data-open="helpDialog">Help</a></li>-->
        <li class="copyright"> © 2019
            <a href="http://verity.org" target="_blank">Verity Health</a>
        </li>
        <!--<li><a href="javascript:void(0)" data-reveal-id="aboutDialog">HIPAA Privacy Practices</a></li><li><a href="javascript:void(0)" data-reveal-id="privacyDialog">Privacy Policy &amp; Disclaimer</a></li><li><a href="javascript:void(0)" data-reveal-id="aboutDialog">Non-Discrimination Notice</a></li><li><a href="javascript:void(0)" data-reveal-id="aboutDialog">Terms &amp; Conditions</a></li><li class="socialList">Connect with us online: <a href="http://facebook.com"><span class="fa fab fa-facebook"></span></a><a href="http://youtube.com"><span class="fa fab fa-youtube"></span></a><a href="http://twitter.com"><span class="fa fab fa-twitter"></span></a></li>-->

  
</ul>
<p>&nbsp;</p>
</footer>
<script src="./bower_components/jquery/dist/jquery.js"></script>
<script src="./bower_components/what-input/dist/what-input.js"></script>
<script src="./bower_components/foundation-sites/dist/js/foundation.js"></script>
<script src="./js/app.js"></script>
<script src="./js/script.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/t/dt/dt-1.10.11,fc-3.2.1,fh-3.1.1,r-2.0.2,rr-1.1.1,se-1.1.2/datatables.js"></script>
</body>
</html>
