<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>

<body class="thi-mobile">

<header>
    <% include ../partials/news_login_header.ejs %>
</header>


<div style="max-width: 700px; margin: 0 auto;">
    <div class="grid-x grid-padding-x">
        <div class="medium-12 cell" style="padding: 1.5rem;">
            <form action="/loginWebNews" accept-charset="UTF-8" method="post">
                <!-- this keyword is scanned by Orion -->
                <input name="orion_key_word" type="hidden" value="Verity AD" />
                <input name="deviceType" type="hidden" value="web" />
                <div class="grid-x grid-padding-x">
                    <div class="medium-11 medium-centered cell">
                        <h1>Sign In</h1>
                        <label>Verity Email Address
                            <input placeholder="Verity Email Address" type="email" name="email" id="email" />
                        </label>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="medium-11 medium-centered cell">
                        <label>Password
                            <input id="password" placeholder="Verity Account Password" type="password" name="password" />
                        </label>
                        <p class="help-text">Use your Verity account password</p>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="medium-11 medium-centered cell">
                        <input type="submit" name="commit" value="Sign In" class="button primary expanded" data-disable-with="Sign In" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="text-center VHMfooter">
    <% include ../partials/footer.ejs %>
</footer>
</body>
</html>

