#user_status { float: right; }
#alert { color: red; }
.monospaced { textarea, input { font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace; }}
.icon { float: right; width: 107px; height: 107px; }
.limited { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 320px; }
.no-decoration { text-decoration:none; }
a.title:hover { color: black; text-decoration:none; }
a.title { color: black; text-decoration:none; }
